<html>
  <head>
    <title>Bitcoin Address</title>
    <style>
      body {
        background: #fff;
        padding: 20px;
      }
      p {
        margin: 10px 0;
        text-align: center;
        font-size: 1.2em;
        font-family: sans-serif;
      }
      .address {
        padding: 20px;
        margin: 10px 0;
        background: #efefef;
        text-align: center;
        border-radius: 2px;
      }
      .address input {
        font-size: 1.5em;
        padding: 8px;
        text-align: center;
        font-family: monospace;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-shadow: inset 1px 1px 6px #00000033;
      }
      table.qr {
        margin: 24px auto 4px auto;
        border-width: 0;
        border-style: none;
        border-color: #0000ff;
        border-collapse: collapse;
        outline: 4px solid white;
      }
      td.qr {
        border-width: 0;
        border-style: none;
        border-color: #0000ff;
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        width: 4px;
        height: 4px;
      }
      td.qr.black { background-color: #000; }
      td.qr.white { background-color: #fff; }
    </style>
  </head>
  <body>
<%= yield %>
  </body>
</html>
